<!DOCTYPE html>
<html>
<head>
  <title>Xfront</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<% if params[:controller] == "application" %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% end %>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Xtronger", '#', class: "navbar-brand" %>
				<nav>
					<ul class="nav nav-pills pull-right">
						<li><%= link_to "Home", '#' %></li>
						<li><%= link_to "Help", '#' %></li>
						<li><%= link_to "Sign in/out", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<!-- backbone anchor -->
		<div id="content"></div>
		<!-- backbone anchor -->
		<%= yield %>
	</div>
</body>
<% if params[:controller] != "application" %>
<%= javascript_include_tag "application-#{params[:controller]}", "data-turbolinks-track" => true %>
<% end %>
</html>
